parameters:
	database:
		host: romanondracek.cz
		dbname: itu
		user: itu
		password: Z8GGtgyK3CKsrJyh8sCt

application:
	errorPresenter: Core:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

mail:
	smtp: true
	host: romanondracek.cz
	username: itu
	password: Z8GGtgyK3CKsrJyh8sCt
	secure: tls

session:
	expiration: 14 days

extensions:
	forms.application: Contributte\Forms\DI\ApplicationFormFactoryExtension
	translation: Contributte\Translation\DI\TranslationExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	mapycz: MapyCZ\DI\GPSPickerExtension
	- Contributte\FormMultiplier\DI\MultiplierExtension

console:
	name: ITU
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://itu.romanondracek.cz
	lazy: true

services:
	authenticator: App\Models\Authenticator
	cartManager: App\Models\CartManager
	companyManager: App\Models\CompanyManager
	router: App\CoreModule\Router\RouterFactory::createRouter
	nette.latteFactory:
		setup:
			- addFilter('json', MapyCZ\Helpers\Filters::json)
	- MapyCZ\Factories\IMapControlFactory

translation:
	locales:
		whitelist: [en, cs]
		default: en
	dirs:
		- %appDir%/lang

includes:
	- doctrine.neon