parameters:
	database:
		host: romanondracek.cz
		dbname: itu
		user: itu
		password: Z8GGtgyK3CKsrJyh8sCt

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes

session:
	expiration: 14 days

extensions:
	forms.application: Contributte\Forms\DI\ApplicationFormFactoryExtension
	translation: Contributte\Translation\DI\TranslationExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
	name: ITU
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://itu.romanondracek.cz
	lazy: true

services:
	router: App\CoreModule\Router\RouterFactory::createRouter
	nette.latteFactory:
		setup:
			- addFilter('json', MapyCZ\Helpers\Filters::json)
	- MapyCZ\Factories\IMapControlFactory

translation:
	locales:
		whitelist: [en, cs]
		default: en
	dirs:
		- %appDir%/lang

includes:
	- doctrine.neon