title: Administrace

actions:
	add: Přidat
	delete: Odstranit
	edit: Upravit

bike:
	title: Správa kol
	addTitle: Přidání kola
	editTitle: Úprava kola
	id: ID
	manufacturer: Výrobce
	name: Jméno
	usage: Použití
	picture: Obrázek
	frameMaterial: Materiál rámu
	frameMaterials:
		Al: Hliník
		Carbon: Karbon
	wheelSize: Velikost kol
	frameSize: Velikost rámu
	forkTravel: Zdvih vidlice
	shockTravel: Zdvih tlumiče
	speeds: Počet rychlostí
	price: Cena
	add: Přidat
	save: Uložit
	messages:
		manufacturer: Prosím vyberte výrobce kola.
		name: Prosím zadejte jméno kola.
		usage: Prosím vyberte použití kola.
		picture: Prosím vyberte obrázek kola za galerie.
		frameMaterial: Prosím vyberte materiál rámu.
		frameSize: Prosím zadajte velikost rámu.
		wheelSize: Prosím zadejte velikost kol.
		speeds: Prosím zdadejte počet rychlostí.
		price: Prosím zadejte cenu.
		confirmDelete: Opravdu chcete smazat kolo %s?
		successDelete: Kolo %fullName% bylo úspěšně odstraněno.
		successEdit: Kolo %name% bylo úspěšně uloženo.

company:
    title: Správa půjčovny
    name: Jméno půjčovny
    address:
        title: Adresa
        street: Ulice
        zip: PSČ
        city: Město
    gps: Mapa
    contacts: Kontakty
    email: Email
    telephone: Telefonní číslo
    save: Uložit

dashboard:
	title: Přehled

gallery:
	title: Správa galerií

manufacturer:
	title: Správa výrobců
	addTitle: Přidání výrobce
	editTitle: Úprava výrobce
	id: ID
	name: Jméno výrobce
	add: Přidat
	save: Uložit
	messages:
		confirmDelete: Opravdu chcete smazat výrobce %s?
		successDelete: Výrobce %name% byl úspěšně odstraněn.
		successEdit: Výrobce %name% byl úspěšně uložen.
		failureDuplicate: Výrobce %name% již existuje.

reservation:
	title: Správa rezervací
	addTitle: Přidání rezervace
	editTitle: Editace rezervace
	id: ID
	customer: Zákazník
	fromDate: Od
	toDate: Do
	bikes:
		title: Rezervovaná kola
		bike: Kolo
		add: Přidat kolo
		remove: Odebrat kolo
	price: Cena
	state: Stav
	states:
		reservation: Rezervace
		cancelled: Zrušená
		ongoing: Probíhající
		returned: Vrácená
		delayed: Zpožděná
	messages:
		customer: Prosím vyberte zákazníka.
		fromDate: Prosím zadejte počáteční datum rezervace.
		toDate: Prosím zadejte koncové datum rezervace.
		confirmDelete: Opravdu chcete smazat rezervaci %s?
		successDelete: Rezervace %id% byla úspěšně odstraněna.
		successEdit: Rezervace %id% byla úspěšně uložena.
		successChangeState: Stav rezervace byl úspěšně změměn.
	add: Přidat rezervaci
	edit: Uložit rezervaci

user:
	title: Správa uživatelů
	addTitle: Přidání uživatele
	editTitle: Úprava uživatele
	id: ID uživatele
	firstName: Křestní jméno
	lastName: Příjmení
	email: E-mail
	password: Heslo
	role: Role
	roles:
		admin: Administrátor
		employee: Zaměstnanec
		customer: Zákazník
	state: Stav
	states:
		activated: Aktivní
		blocked: Zablokován
		fresh: Nový
	add: Přidat
	save: Uložit
	messages:
		firstName: Prosím zadejte křestní jméno uživatele.
		lastName: Prosím zadejte příjmení uživatele.
		email: Prosím zadejte email uživatele.
		password: Prosím zadejte heslo uživatele.
		role: Prosím vyberte roli uživatele.
		state: Prosím vyberte stav uživatelského účtu.
		confirmDelete: Opravdu chcete smazat uživatele %s?
		successDelete: Uživatel %email% byl úspěšně odstraněn.
		successEdit: Uživatel %email% byl úspěšně uložen.
		successChangeRole: Role byla úspěšně změněna.
		successChangeState: Stav účtu byl úspěšně změněn.
		failureDuplicate: Uživatel %email% již existuje.