title: Administration

actions:
	add: Add
	delete: Delete
	edit: Edit

bike:
	title: Bike manager

dashboard:
    title: Dashboard

user:
	title: User manager
	id: User ID
	firstName: First name
	lastName: Last name
	email: E-mail
	role: Role
	roles:
	    admin: Administrator
	    employee: Employee
	    customer: Customer
	state: State
	states:
	    activated: Activated
	    blocked: Blocked
	    fresh: Fresh
	messages:
		confirmDelete: Do you really want to delete user %s?
		successDelete: User %email% has beed deleted.
		successChangeRole: Role has been succesfully changed.
		successChangeState: State has been successfully changed.
