cart:
	title: Košík
	fromDate: Od
	toDate: Do
	delete: Odstranit
	reserve: Rezervovat
	firstName: Jméno
	lastName: Příjmení
	email: E-mail
	termsAgreement: Odesláním formuláře souhlasím s
	terms: obchodními podmínkami
	messages:
		add: Kolo %name% bylo úspěšně přidáno do košíku.
		success: Rezervace č. %id% byla úspěšně vytvořena.
		terms: Pro rezervaci zboží je potřeba souhlasit s obchodními podmínkami.
		firstName: Prosím zadejte Vaše jméno.
		lastName: Prosím zadejte Vaše příjmení.
		email: Prosím zadejte Váš email.

account:
	title: Editace profilu
	firstName: Jméno
	lastName: Příjmení
	email: E-mail
	password: Nové heslo
	save: Uložit
	messages:
		successEdit: Profil byl úspěšně aktualizován.
		firstName: Prosím zadejte Vaše jméno.
		lastName: Prosím zadejte Vaše příjmení.
		email: Prosím zadejte Váš email.

assistant:
	weight: Váha
	height: Výška
	filter: Vyhledat

contact:
	title: Kontakt
	menu: Kontakt

products:
	title: Přehled zboží

product:
	fromDate: Od
	toDate: Do
	usageType: Typ užití
	wheelSize: Velikost kol
	frameSize: Velikost rámu
	travel: Zdvih
	speeds: Počet rychlostí
	rent: Vypůjčit
	filter: Vyhledat
	priceUnit: Kč/den

sign:
	in:
		title: Přihlášení
		form:
			email: E-mail
			password: Heslo
			remember: Zůstat přihlášen
			send: Přihlásit se
			messages:
				email: Prosím zadejte Váš e-mail.
				password: Prosím zadejte Vaše heslo.
				success: Byl jste úspěšně přihlášen.
				failure: Zadané jméno nebo heslo je nesprávné.
	out:
		title: Odhlásit se
	up:
		title: Registrace
		form:
			firstName: Jméno
			lastName: Příjmení
			email: E-mail
			password: Heslo
			termsAgreement: Souhlasím s obchodními podmínkami
			send: Zaregistrovat se
			messages:
				firstName: Prosím zadejte Vaše jméno.
				lastName: Prosím zadejte Vaše příjmení.
				email: Prosím zadejte Váš email.
				password: Prosím zadejte Vaše heslo.
				success: Byl jste úspěšně zaregistrován.
	reset:
		title: Zapomenuté heslo
		form:
			email: E-mail
			send: Odeslat
			messages:
				email: Prosím zadejte Váš e-mail.
				success: Pokuď účet s daným emailem existuje, byl na něj odeslán odkaz na obnovu hesla.
terms:
	title: Obchodní podmínky

